@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// COMPONENTS
@import './components/index.scss';

body {
  background-color: $favColor;
}

.card {
  max-width: 18rem;
}

input[name='private'] {
  width: 50px;
}

.side-by-side-buttons {
  display: flex;
  flex-wrap: row;
  justify-content: center;
}

.side-by-side-buttons button {
  margin: 1px;
}

.deleteGrade {
  color: #fff;
  text-decoration: line-through;
  text-align: center;
  background: 
  /* On "top" */ repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      #ccc 10px,
      #ccc 20px
    ),
    /* on "bottom" */ linear-gradient(to bottom, #eee, #999);
}

.boardpinsContainer {
  display: flex;
  justify-content: space-between;
}
.pinsContainer {
  width: 66%;
  display: flex;
  flex-wrap: wrap;
}


button {
  margin: 5px;
}